label{
  color: black;
}

.popup-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.popup-content{
    flex: 1;
    background-color: lightgray;
    border-radius: 10px;
    width: 90%;
    margin: 20px auto;
}

.checkbox-row label{
    margin: auto 10px;
    display: flex;
}

.popup-content h2{
  text-align: left;
  margin-left: 1rem;
  color: cyan;
}

.popup-result-title h2{
  color: gold;
}

.popup-content form h3{
  float: left;
  margin: 0 1rem;
  color: black;
}

.popup-content form button{
  background-color: cyan;
}

.checkbox-container{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.checkbox-row {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 10px;
  }

.popup-content form button{
    margin: 10px auto ;
}

input[type="checkbox"] {
    margin-right: 20px;
    transform: scale(2);
  }

  .popup-result{
    height: 80%;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
  }

  .popup-result-title{
    margin: 0;
  }

  .progress-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .item{
    position: relative;
  }

  .item-heading{
    position: absolute;
    text-align: left;
    margin-left: 10px;
    top: 0;
  }

  .item img{
    margin-top: 30px;
    width: 100%;
    max-height: 200px;
  }

  .disabled {
    opacity: 0.6; /* Example: Reduce opacity for disabled button */
    cursor: inherit; /* Example: Change cursor to not-allowed for disabled button */
    /* Add more custom styles as desired */
  }